<!--The content below is only a placeholder and can be replaced.-->
<div class="orange" style="text-align:center">
  <p *ngIf="errors">{{ errors | json }}</p>
  <div class="create">
    <h3>New Task</h3>
    <form (submit)="createTask()" class="postForm">
      <p>{{ newTask | json }}</p>
      <p>Title: <input type="text" name="newTask.title" [(ngModel)]="newTask.title" /></p>
      <p>Desc: <input type="text" name="newTask.description" [(ngModel)] ="newTask.description"></p>
      <input type="submit" value="Create Task" />
    </form>
    {{ cat | json }}
  </div>
  <div class="blue" style="text-align:center">
    <button (click)="allTasks()">GET ALL TASKS</button>
    <p *ngFor="let task of tasks"> {{ task.title }}: {{ task.description }}
      <button (click)="oneTask(task._id)">Edit</button> | 
      <button (click)="deleteTask(task._id)">Delete</button>
    </p>
    <div *ngIf="selectedTask">
      <form (submit)="updateTask()">
        <p>Title: <input type="text" name="title" [(ngModel)]="selectedTask.title"></p>
        <p>Desc: <input type="text" name="description" [(ngModel)]="selectedTask.description"></p>
        <input type="submit" value="Update Task">
      </form>
    </div>
</div>



